{% block fooder %}
<footer>
     <div class="footer-main cartoon">
         <div class="footer-content">
             <div class="footer-company cartoon">
                 <h4>Empresa</h4>
                 <h6>Sobre Nós</h6>
                 <h6>Contato</h6>
             </div>
             <div class="footer-contact-info cartoon">
                 <h4>Entre em Contato</h4>
                 <h6>*Numero de telefone*</h6>
                 <h6>*EMAIL*</h6>
                 <h6>*ENDEREÇO*</h6>
             </div>
             <div class="footer-social cartoon">
                 <h4>Conecte-se Conosco</h4>
                 <div class="social-icons">
                     <img src="img/instagram.png" alt="Instagram" />
                     <img src="img/facebook.png" alt="Facebook" />
                 </div>
             </div>
         </div>
     </div>
     <div class="footer-last cartoon">Desenvolvido Por @Mathe0610</div>
 </footer>

{% endblock %}
