{% extends 'base.html' %}
{%block content%} 
         
<div class="menu-card-wrapper">
  <!-- Massas -->

     {% for tipo, produtos in produtos_relacionados.items %}
          <div class="menu-card-item pizza ativo">
               {% for produto in produtos %}

                    <img src="{{ produto.imagem }}" alt="{{ produto.nome_produto }}" />

                    <div class="menu-card-content">
                         <h3>{{ produto.nome_produto }}</h3>
                         <p>
                              {{ produto.descricao }}
                              <br>
                              <span><b>{{ produto.valor }}</b></span>
                         </p>       
                         <button type="button" class="adicionar-ao-carrinho" data-produto-id="{{ produto.id }}">ADICIONAR!</button>
                    </div>
               
               </div><br>
               {% endfor %}
          </div>
  {% endfor %}
</div>
{%endblock%}