{% extends 'base.html' %}
{%block content%} 
         
  <!-- MENU CARDS -->
  <div class="menu-card-wrapper">
    <!-- Pizza Card 1 -->


  {% for tipo, produtos in produtos_relacionados.items %}
          
  <ul>
       {% for produto in produtos %}
       <div class="menu-card-item pizza ativo">
           <h2>{{ tipo }}</h2>
          <img src="{{ produto.imagem.url }}" alt="{{ prod.nome_produto }}" />
          <div class="menu-card-content">
          <h3>{{ produto.nome_produto }}</h3>
          <p>
               {{ produto.descricao }}
               <br>
               <span><b>{{ produto.valor }}</b></span>
          </p>
          <button type="button">ADICIONAR!</button>
          </div>
     </div><br>
      {% endfor %}
    </ul>
  {% endfor %}



  </div>




{%endblock%}